/* Veriables */

:root {
  --main-text-color: #2c2830;
  --secondary-text-color: #837d88;
  --mix-color: #2d2641;
  --main-ff:"DM serif", "New Times Roman", serif;
  --secondary-ff: "Karla", "Arial", sans-serif;
  --main-fw: 700;
  --main-fz: 13px;
}