/* Site article styles started */

.site-main__article {
  padding-bottom: 140px;
}

.site-main__article-inner {
  @include background(var(--mix-color), "../../images/decoration.svg", no-repeat, right -264px top -125px, 467px 435px);
  padding: 72px 24px;
  text-align: center;
  color: #fff;
}

.site-main__article-title {
  @include default-text(40px, $fz:37px, $lh:40px);
  letter-spacing: -0.556px;
  // fz40
}
.site-main__artilce-link {
  @include links(inline-block);
  @include view(160px, 13px 16px 12px, $bdw:1.5px, $bdc:#fff, $bdrs:0);
}

@include responsive(481px) {
  .site-main__article-title {
    font-size: 40px;
  }
}

@include responsive(768px) {
  .site-main__article {
    padding-bottom: 150px;
  }

  .site-main__article-inner {
    @include layout;
    background-position-x: calc(50% + 600px);
    background-size: 765px 713px;
    text-align: left;
  }

  .site-main__article-title-wrapper {
    max-width: 493px;
  }

  .site-main__article-title {
    margin-bottom: 0;
    font-size: 56px;
    line-height: 56px;
  }
}
@include responsive(1150px) {
  .site-main__article-inner {
    padding: 69px 81px;
    background-position: right -322px top -262px;
  }

  .site-main__artilce-link {
    @include transition(background-color);

    &:hover {
      @include hover(var(--mix-color), #fff);
    }
  }
}
/* Site article styles finished */