/* Header styles begin */

.site-header {
  padding: 24px 0;
}

.site-header__inner {
  @include layout;
}

.site-header__btn {
  width: 32px;
  height: 32px;
  background-image: url("../../images/menu.svg");
  background-color: transparent;
  border: none;
}

.site-header__nav-wrapper {
  @include background(var(--main-text-color), "../../images/menubgimg.svg", no-repeat, calc(50% + 120px) 350px, auto);
  position: absolute;
  top: 80px;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 40px 24px;
  color: #fff;
}

.navigation__list {
  @include list-unstyled;
  text-align: center;
}

.navigation__item {
  margin-bottom: 24px;
}

.navigation__link {
  @include links(block);
  font-family: var(--secondary-ff);
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1.364px;
}

.site-header__link {
  @include view(calc(100% - 48px), 9px 0 7px, $bdw:1.5px, $bdc:#fff, $bdrs:0);
  @include links(block);
  font-family: var(--secondary-ff);
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1.364px;
}

@include responsive(768px) {
  .site-header__btn {
    display: none;
  }
  
  .site-header__nav-wrapper {
    @include layout;
    position: static;
    justify-content: flex-end;
    height: auto;
    padding: 0;
    background-color: transparent;
    background-image: none;
    color: var(--secondary-text-color);
  }
  
  .navigation__list {
    @include layout;
    column-gap: 25px;
  }
  
  .navigation__item {
    margin-bottom: 0;
  }
  
  .site-header__link {
    @include view(146px, 9px 16px 7px, $bdw:2px, $bdc:var(--main-text-color), $bdrs:0);
    width: auto;
    margin-left: 25px;
  }
}

@include responsive(1150px) {
  .logo {
    @include transition(opacity);
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
  
  .navigation__list {
    column-gap: 33px;
  }
  
  .navigation__link {
    @include transition (color);
    &:hover {
      @include hover(var(--main-text-color), transparent)
    }
  }
  
  .site-header__link {
    @include transition (background-color);
    margin-left: 33px;
    &:hover {
      @include hover(#fff, var(--main-text-color));
    }
  }
}

.open .site-header__nav-wrapper {
  display: block;
}

.open .site-header__btn {
  background-image: url("../../images/menuopen.svg");
}
/* Header styles end */