/* Hero styles started */

.hero {
  position: relative;
  background-color: var(--mix-color);
  background-image: url("../../images/decoration.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 200px) calc(100% - 327px);
  background-size: 485px 452px;
}

.hero__bgimg {
  position: absolute;
  bottom: -223px;
  left: calc(50% + 32px);
  z-index: 1;
  width: 377px;
  height: 351px;
  background-image: url("../../images/decoration.svg");
  background-repeat: no-repeat;
  background-size: 377px 351px;
}

.hero__wrapper {
  padding: 93px 0;
  color: #fff;
  text-align: center;
}

.hero__img {
  position: relative;
  top: -93px;
  left: -24px;
  max-width: 480px;
  width: calc(100% + 48px);
}

.hero__inner {
  max-width: 550px;
  margin: 0 auto;
}

.hero__title-wrapper {
  max-width: 296px;
  margin: 0 auto;
}

.hero__title {
  @include default-text(16px, $fz:39px, $fw:700, $lh:48px);
}

.hero__desc {
  @include default-text(32px, var(--secondary-ff), 16px, $lh:26px)
}

.hero__more {
  @include view(146px, 13px 16px 12px, $bdw:1.5px, $bdc:#fff, $bdrs:0);
  @include links($display:inline-block);
}

@include responsive(481px) {
  .hero__img {
    left: calc(50%);
    transform: translateX(-50%);
  }
  
  .hero__title-wrapper {
    max-width: 364px;
    margin: 0 auto;
  }
  
  .hero__title {
    font-size: 48px;
  }
}

@include responsive(768px) {
  .hero {
    background-position: calc(50% + 447px) calc(50% - 150px);
  }
  
  .hero__bgimg {
    bottom: -266px;
    left: calc(50% - 768px);
  }
  
  .hero__wrapper {
    @include layout;
    position: relative;
    padding-top: 105px;
  }
  
  .hero__wrapper {
    margin: 0;
    text-align: left;
  }
  
  .hero__img {
    position: absolute;
    max-width: 320px;
    top: 105px;
    right: 0;
    left: auto;
    transform: translateX(0);
  }
  
  .hero__inner {
    max-width: 400px;
    margin: 0;
  }
  
  .hero__title-wrapper {
    margin: 0;
  }
}

@include responsive(900px) {
  .hero__img {
    max-width: 430px;
  }
}

@include responsive(1150px) {
  .hero {
    background-size: 697px 649px;
    background-position: calc(50% + 628px) calc(50% - 103px);
  }
  
  .hero__bgimg {
    bottom: -511px;
    left: calc(50% - 1264px);
    width: 697px;
    height: 649px;
    background-size: 697px 649px;
  }
  
  .hero__wrapper {
    flex-direction: column;
    align-items: start;
    &::before {
      display: block;
      width: 150px;
      height: 1px;
      margin-bottom: 63px;
      background-color: #fff;
      content: "";
    }
  }
  
  .hero__img {
    max-width: 540px;
  }
  
  .hero__inner {
    max-width: 484px;
  }
  
  .hero__title-wrapper  {
    max-width: none;
  }
  
  .hero__title {
    font-size: 72px;
    line-height: 70px;
    letter-spacing: -1px;
  }
  
  .hero__more {
    @include transition(background-color);

    &:hover {
      @include hover(var(--mix-color), #fff);
    }
  }
}
/* Hero styled end */